<!DOCTYPE html>

<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="ThemeStarz">

    <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet">
    <link href="/bower_components/codemirror/lib/codemirror.css" rel="stylesheet">
    <link href="/bower_components/codemirror/theme/3024-day.css" rel="stylesheet">
    <link href="/bower_components/codemirror/addon/hint/show-hint.css" rel="stylesheet">
    <link href="/bower_components/codemirror/addon/display/fullscreen.css" rel="stylesheet" >

    <link href="/views/css/common.css" rel="stylesheet">

    <title>GESMA</title>
</head>
<ng-include src="'views/header/header.html'"></ng-include>
<body ng-app="event">

<main ui-view></main>

<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/hint/anyword-hint.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/hint/css-hint.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/hint/javascript-hint.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/hint/show-hint.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/hint/xml-hint.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/hint/html-hint.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/mode/xml/xml.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/mode/css/css.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/edit/matchbrackets.js"></script>
<script type="text/javascript" src="/bower_components/codemirror/addon/display/fullscreen.js"></script>
<script type="text/javascript" src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script type="text/javascript" src="/node_modules/angular/angular.js"></script>
<script type="text/javascript" src="/node_modules/angular-materialize/src/angular-materialize.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-codemirror/ui-codemirror.min.js"></script>
<script type="text/javascript" src="/node_modules/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="/node_modules/angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="/node_modules/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/node_modules/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/node_modules/api-check/dist/api-check.min.js"></script>
<script type="text/javascript" src="/node_modules/angular-formly/dist/formly.min.js"></script>
<script type="text/javascript" src="/node_modules/angular-messages/angular-messages.min.js"></script>
<script type="text/javascript" src="/node_modules/angular-translate/dist/angular-translate.min.js"></script>

<script src="/views/js/app.js"></script>
<script src="/views/translate/languages.js"></script>
<script src="/views/translate/translate.js"></script>



<!--[if lte IE 9]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->
</body>
