<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>GESMA</span> 
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">Grupo de Estudo</b>
                <b>Engenharia de Software</b>
                <b>Sistemas Multiagentes</b>
            </span>
        </h1>
    </div>
</div>

<!--Intro and service-->
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> O Grupo de Estudo em Engenharia de Software para Sistemas Multiagentes - <span class="span_h2">GESMA</span>
                é formado por <span class="span_h2">alunos</span> e <span class="span_h2">professores</span> da Universidade Federal do Ceará - <span class="span_h2">UFC</span>, campus <span class="span_h2">Quixadá</span>.

                </h2>
            </div>


            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-image-flash-on"></i>
                    <h5 class="promo-caption">Grupo de Estudos</h5>
                    <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-social-group"></i>
                    <h5 class="promo-caption">Engenharia de Software</h5>
                    <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <i class="mdi-hardware-desktop-windows"></i>
                    <h5 class="promo-caption">Sistemas Multiagentes</h5>
                    <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax2 parallax"></div>
</div>

<!--Work-->
<div class="section scrollspy" id="work">
    <div class="container">
        <h2 class="header text_b">Projetos </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/agente.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Projeto X <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Link do Projeto</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Projeto X <i class="mdi-navigation-close right"></i></span>
                        <p>Descrição do projeto aqui.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/agente.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Projeto X <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Link do Projeto</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Projeto X <i class="mdi-navigation-close right"></i></span>
                        <p>Descrição do projeto aqui.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/agente.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Projeto X <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Link do Projeto</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Projeto X <i class="mdi-navigation-close right"></i></span>
                        <p>Descrição do projeto aqui.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/agente.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Projeto X <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Link do Projeto</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Projeto X <i class="mdi-navigation-close right"></i></span>
                        <p>Descrição do projeto aqui.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/agente.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Projeto X <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Link do Projeto</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Projeto X <i class="mdi-navigation-close right"></i></span>
                        <p>Descrição do projeto aqui.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="img/agente.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Projeto X <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Link do Projeto</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Projeto X <i class="mdi-navigation-close right"></i></span>
                        <p>Descrição do projeto aqui.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"></div>
</div>

<!--Team-->
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Membros </h2>
        <div class="row">
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://media.licdn.com/media/p/1/000/251/167/2e9a059.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Marcos De Oliveira <br/>
                            <small><em><a class="red-text text-darken-1" href="#">COORDENADOR</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="http://www.quixada.ufc.br/wp-content/uploads/2015/05/Enyo-Jos%C3%A9-Tavares-Gon%C3%A7alves1-113x150.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Enyo José <br/>
                            <small><em><a class="red-text text-darken-1" href="#">COORDENADOR</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/5/005/036/2af/2877e87.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Felipe Neves <br/>
                            <small><em><a class="red-text text-darken-1" href="#">BOLSISTA</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/10392361_371869376318141_6942524818966646310_n.jpg?oh=9de3ac909a1bfe7c6f39821030928a04&oe=58BEE176">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Marques Amaro<br/>
                            <small><em><a class="red-text text-darken-1" href="#">BOLSISTA</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://fb-s-b-a.akamaihd.net/h-ak-xft1/v/t1.0-0/p206x206/13938608_295359270816518_5441216655796485390_n.jpg?oh=1da224724b7024e42f7fa8b25d560e5c&oe=58B46CF2&__gda__=1489599450_37be089568a4301d6a71ae10e946e2d2">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Marcos Flávio <br/>
                            <small><em><a class="red-text text-darken-1" href="#">BOLSISTA</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/13508_788477981238953_855591658662037078_n.jpg?oh=9fd5628af65cbc4b036dbda269d71d3d&oe=58C24786">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Eduardo Lopes <br/>
                            <small><em><a class="red-text text-darken-1" href="#">BOLSISTA</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-9/12573939_1688130844797665_4230343795029045486_n.jpg?oh=1aca031f46bda6f5cf2b8867cd27189a&oe=58BD2346">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Thársis Salathiel <br/>
                            <small><em><a class="red-text text-darken-1" href="#">BOLSISTA</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="#">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="views/home/home.css">
<script type="text/javascript" src="views/js/init.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
	  $('.parallax').parallax();
	});
</script>