<div class="navbar-fixed">
  <nav id="header">
    <div class="nav-wrapper white">
      <a href="" class="brand-logo blue-text text-darken-4"><img src="images/logo.png" style="margin-bottom: 20px;height: 60px;"></a>
      <a href="" data-activates="mobile-demo" class="button-collapse blue-text text-darken-4"><i class="fa fa-bars"></i></a>
      <div class="hide-on-med-and-down">
        <ul class="hide-on-med-and-down right">
          <li ui-sref-active="active">
            <a href="" ui-sref="home" class="blue-text text-darken-4">
              <i class="fa fa-home"></i>
              <span>{{'HOME' | translate}}</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a href="" ui-sref="team" class="blue-text text-darken-4">
              <i class="fa fa-users"></i>
              <span>{{'TEAM' | translate}}</span>
            </a>
          </li>
          <li ui-sref-active="active">
            <a href="" ui-sref="projects" class="blue-text text-darken-4">
              <i class="fa fa-send-o"></i>
              <span>{{'PROJECTS' | translate}} <i class="fa fa-caret-down"></i></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<link rel="stylesheet" href="views/header/header.css"/>
